<!DOCTYPE html>
{% load static %}
{% include 'navbar.html' %}
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <!-- Favicon -->
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <!-- Icon - IconMonster -->
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
    <!-- Mumble UI -->
    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
    <!-- Dev Search UI -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" />
  
    <title>Marcin Galazyn - Python/Django developer!</title>
</head>
<body>



{% block content %}
<table>
    <tr>
        <th>Project</th> 
        <th>Positive Votes in %</th> 
        <th>Votes</th>
        <th></th>
    </tr>  
    {% for project in Project.objects.all %}
    <tr>
        <td>{{project.title}} </td>
        <td>{{project.vote_ratio}}% </td>
        <td>{{project.vote_total}} </td>
        <td>{{project.created}} </td>
        <td><a href="{% url 'project' project.id %}">View</a></td>
	    <td><a href="{% url 'update-project' project.id %}">Edit</a></td>
        <td><a href="{% url 'delete-project' project.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}

</body>
</html>