{% extends 'main.html' %}
{% block content %}

<img style= "max-width: 500px;" src="{{ playground.default.jpg}}"

<hr>
<h1> Hi, My name is Marcin and thats my projects</h1>
<h2> Projects </h2>
<table>
    <tr>
        <th>Project</th> 
        <th>Positive Votes in %</th> 
        <th>Votes</th>
        <th></th>
    </tr>  
    {% for project in projects %}
    <tr>
        <td>{{project.title}} </td>
        <td>{{project.vote_ratio}}% </td>
        <td>{{project.vote_total}} </td>
        <td>{{project.created}} </td>
        <td><a href="{% url 'view-project' project.id %}">View</a></td>
	    <td><a href="{% url 'update-project' project.id %}">Edit</a></td>
        <td><a href="{% url 'delete-project' project.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

<br>
<p>{{project.description}}</p>

{% endblock content %}