{% extends 'main.html' %}

{% block content %}

<hr>

<h1> Projects </h1>
<table>
    <tr>
        <th>ID</th> 
        <th>Project</th> 
        <th>Positvie Votes</th> 
        <th>Votes</th>
        <th></th>
    </tr> 
    {% for project in projects %}
        <tr>
            <td>{{project.id}} </td>
            <td>{{project.title}} </td>
            <td>{{project.votes_ratio}}% </td>
            <td>{{project.votes_total}} </td>
            <td>{{project.created}} </td>
        </tr>
    {% endfor %}
</table>

{% comment %} 
{% for tag in project.tags.all %}
<span style="border:1px solid grey"> {{project.tags.all}} </span>
{% endfor %} {% endcomment %}
<br>
<p>{{project.description}}</p>

{% endblock content %}